/* Files */

@import "general";
@import "header";
@import "search";
@import "pagination";
@import "frontend";
@import "admin";

/* Jumbotron styles for all pages except index */

.title-jumbotron {
    width: 100%;
    min-height: 140px;
    background-color: #f5f8fa;
    height: 140px;
    overflow: hidden;
    position: relative;
    margin-top: 75px;
    .parallax-text {
        position: absolute;
        top: 45px;
        width: 100%;
        text-align: center;
        @media screen and (max-width: 800px) {
            top: 50px;
        }
        @media screen and (max-width: 600px) {
            top: 55px;
        }
        @media screen and (max-width: 460px) {
            top: 57px;
        }
        h1 {
            font-weight: normal;
            font-size: 3.9rem;
            margin: 0 30px;
            padding: 0;
            @media screen and (max-width: 800px) {
                font-size: 3.5rem;
            }
            @media screen and (max-width: 600px) {
                font-size: 2.5rem;
            }
            @media screen and (max-width: 460px) {
                font-size: 2rem;
            }
        }
    }
}
