/* Files */
/* General styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  color: #000;
  background-color: #fff;
}

a {
  text-decoration: none;
  outline: none;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2.3rem;
}

h4 {
  font-size: 2.1rem;
}

h5 {
  font-size: 1.9rem;
}

h6 {
  font-size: 1.7rem;
}

p {
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

/* Variables */
/* Hamburger icon */
/* Header and Navigation styles */
header {
  top: 0;
  left: 0;
  padding: 0;
  position: absolute;
  background: #fff;
  width: 100%;
  height: 75px;
  z-index: 99;
  box-shadow: 0 0 12.48px 0.52px rgba(48, 178, 32, 0.04);
}
header .menu-wrapper {
  width: 90%;
  margin: auto;
}
header .menu-wrapper .logo {
  color: #000;
  height: 75px;
  line-height: 75px;
  font-size: 2rem;
  float: left;
}
header .menu-wrapper .logo a {
  color: #000;
}
header .menu-wrapper .logo a span.logo-span {
  font-weight: 600;
}
header .menu-wrapper nav {
  float: right;
  display: block;
}
header .menu-wrapper nav ul {
  margin: 0%;
  padding: 0%;
  display: flex;
}
header .menu-wrapper nav ul li {
  position: relative;
  font-size: 1.4rem;
}
header .menu-wrapper nav ul li a {
  line-height: 75px;
  height: 75px;
  padding: 0 20px;
  color: #000;
  display: inline-block;
  letter-spacing: 1px;
}

/* Hamburger icon */
.menu-toggle {
  display: none;
  float: right;
  width: 30px;
  margin-top: 30px;
  height: 18px;
  cursor: pointer;
}
.menu-toggle .hamburger-menu {
  width: 30px;
  height: 2px;
  position: relative;
  transform: translateY(8px);
  background: #000;
  transition: all 0ms 300ms;
}
.menu-toggle .hamburger-menu:after {
  width: 30px;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  background: #000;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-toggle .hamburger-menu:before {
  width: 30px;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 8px;
  background: #000;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-toggle .hamburger-menu.animate {
  background: rgba(255, 255, 255, 0);
}
.menu-toggle .hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}
.menu-toggle .hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/* Sticky and Mobile Navigation */
.fixed {
  position: fixed;
  -webkit-animation: navbar-slide 0.7s;
          animation: navbar-slide 0.7s;
  transition: all 0.7s ease-in-out;
}

@-webkit-keyframes navbar-slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes navbar-slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
header .menu-wrapper nav ul li.active ul {
  display: block;
}

@media screen and (max-width: 991px) {
  header {
    padding: 0;
  }

  header .menu-wrapper nav {
    position: absolute;
    width: 100%;
    height: calc(100vh - 75px);
    overflow: auto;
    background: #fff;
    top: 75px;
    left: -100%;
    transition: all 0.5s ease-in-out;
    z-index: 90;
  }

  header .menu-wrapper nav.active {
    left: 0;
  }

  header .menu-wrapper nav ul {
    display: block;
    text-align: left;
    margin: 0 30px;
    box-shadow: none !important;
  }

  header .menu-wrapper nav ul li a {
    line-height: 60px;
    height: 60px;
    display: block;
  }

  .menu-toggle {
    display: block;
  }
}
/* Overlay Search Styles */
.search-overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  background-color: #000;
  z-index: 99;
  overflow-x: hidden;
  transition: 0.5s;
}
.search-overlay span.close-search {
  position: absolute;
  top: 15px;
  right: 45px;
  cursor: pointer;
  font-size: 6rem;
  color: #9c9c9c;
}
.search-overlay span.close-search:hover {
  color: #e71d43;
  transition: all 0.3s ease-in-out;
}
.search-overlay form.search-input {
  position: relative;
  top: 45%;
  margin: auto;
  width: 50%;
}
@media screen and (max-width: 600px) {
  .search-overlay form.search-input {
    top: 30%;
  }
}
.search-overlay form.search-input .input-wrapper {
  position: relative;
  width: 100%;
}
.search-overlay form.search-input .input-wrapper:after {
  content: attr(data-text);
  font-size: 4rem;
  line-height: 0;
  height: 0;
  max-width: 100%;
  border-bottom: 3px solid #e71d43;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: transparent;
}
.search-overlay form.search-input .input-wrapper input {
  border: none;
  border-bottom: 3px solid #9c9c9c;
  outline: none;
  background-color: transparent;
  color: #9c9c9c;
  padding: 0;
  padding-bottom: 5px;
  font-size: 4rem;
  overflow: hidden;
  width: 100%;
}
.search-overlay form.search-input .input-wrapper input::-moz-placeholder {
  color: #9c9c9c;
  font-size: 4rem;
  opacity: 1;
}
.search-overlay form.search-input .input-wrapper input:-ms-input-placeholder {
  color: #9c9c9c;
  font-size: 4rem;
  opacity: 1;
}
.search-overlay form.search-input .input-wrapper input::placeholder {
  color: #9c9c9c;
  font-size: 4rem;
  opacity: 1;
}
.search-overlay form.search-input .input-wrapper input::-webkit-input-placeholder {
  color: #9c9c9c;
  font-size: 4rem;
  opacity: 1;
}

/* Pagination styles */
.news-pagination {
  width: 100%;
}
.news-pagination .news-pagination-wrapper {
  width: 90%;
  margin: auto;
  text-align: center;
}
.news-pagination .news-pagination-wrapper nav ul.pagination {
  display: inline-block;
  margin-bottom: 20px;
}
.news-pagination .news-pagination-wrapper nav ul.pagination li {
  float: left;
  padding: 7px;
  margin: 0 5px 0 0;
}
.news-pagination .news-pagination-wrapper nav ul.pagination li a {
  color: #000;
  font-size: 1.6rem;
}
.news-pagination .news-pagination-wrapper nav ul.pagination li a:hover {
  color: #e71d43;
  transition: all 0.2s ease-in-out;
}
.news-pagination .news-pagination-wrapper nav ul.pagination li a:not(:hover) {
  color: #000;
  transition: all 0.2s ease-in-out;
}
.news-pagination .news-pagination-wrapper nav ul.pagination li.disabled {
  cursor: not-allowed;
}
.news-pagination .news-pagination-wrapper nav ul.pagination li.disabled span {
  font-size: 1.6rem;
}
.news-pagination .news-pagination-wrapper nav ul.pagination li.active span {
  font-size: 1.6rem;
  color: #e71d43;
}

span.page-link {
  font-size: 1.8rem;
  color: #e71d43;
  cursor: not-allowed;
}

/* Dashboard styles */
.dashboard {
  width: 100%;
  height: auto;
}
.dashboard .dashboard-wrapper {
  width: 90%;
  margin: 60px auto;
}
.dashboard .dashboard-wrapper a.button {
  border: 2px solid #e71d43;
  padding: 14px 25px 12px 25px;
  display: inline-block;
  margin: 0 0 20px 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
}
.dashboard .dashboard-wrapper a.button:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}
.dashboard .dashboard-wrapper a.button:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.dashboard .dashboard-wrapper a.back {
  border: 2px solid #0633ff;
  padding: 14px 25px 12px 25px;
  display: inline-block;
  margin: 20px 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
}
.dashboard .dashboard-wrapper a.back:hover {
  background-color: #0633ff;
  color: #fff;
  border: 2px solid #0633ff;
  transition: all 0.3s ease-in-out;
}
.dashboard .dashboard-wrapper a.back:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.dashboard .dashboard-wrapper button.delete-show-page {
  border: 2px solid #e71d43;
  padding: 14px 25px 12px 25px;
  cursor: pointer;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  outline: none;
  border-radius: 3px;
  background-color: transparent;
  margin: 20px 0 0 0;
  color: #000;
}
.dashboard .dashboard-wrapper button.delete-show-page:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}
.dashboard .dashboard-wrapper button.delete-show-page:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.dashboard .dashboard-wrapper .well {
  border: 1px solid #e3e6f0;
  border-radius: 5px;
  overflow-x: scroll;
}
.dashboard .dashboard-wrapper .well .well-title {
  background-color: #f5f8fa;
  border-bottom: 1px solid #e3e6f0;
}
.dashboard .dashboard-wrapper .well .well-title h5 {
  font-weight: normal;
  padding: 15px 0 15px 40px;
}
.dashboard .dashboard-wrapper .well .well-content {
  width: 95%;
  margin: 50px auto 20px auto;
}
.dashboard .dashboard-wrapper .well .well-content table {
  font-size: 1.6rem;
  color: #000;
  border-collapse: collapse;
  width: 100%;
}
.dashboard .dashboard-wrapper .well .well-content table th {
  border: 1px solid #e3e6f0;
  border-top: 2px solid #e3e6f0;
  border-bottom: 3px solid #e3e6f0;
  text-align: left;
  padding: 15px;
}
.dashboard .dashboard-wrapper .well .well-content table td {
  border: 1px solid #e3e6f0;
  text-align: left;
  padding: 15px;
}
.dashboard .dashboard-wrapper .well .well-content table td .badge {
  background-color: #17a2b8;
  margin: 3px;
  color: #fff;
  display: inline-block;
  border-radius: 5px;
  padding: 0 3px;
}
.dashboard a.action-button-green {
  color: #fff;
  background-color: #4dbd74;
  padding: 1px 5px;
  border-radius: 5px;
  margin: 4px;
}
.dashboard a.action-button-green:hover {
  background-color: #4cae4c;
}
.dashboard button.action-button-green {
  color: #fff;
  background-color: #4dbd74;
  padding: 1px 5px;
  border-radius: 5px;
  border: 1px solid #4dbd74;
  margin: 4px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
}
.dashboard button.action-button-green:hover {
  background-color: #4cae4c;
}
.dashboard button.action-button-red {
  color: #fff;
  background-color: #e71d43;
  padding: 1px 5px;
  border-radius: 5px;
  border: 1px solid #e71d43;
  margin: 4px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
}
.dashboard button.action-button-red:hover {
  background-color: #d9534f;
}
.dashboard form {
  display: inline-block;
}
.dashboard button.button {
  border: 2px solid #e71d43;
  padding: 14px 25px 12px 25px;
  cursor: pointer;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
  outline: none;
}
.dashboard button.button:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}
.dashboard button.button:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.dashboard form.create-update {
  width: 100%;
}
.dashboard form.create-update .form-wrapper {
  margin: 10px 0;
  width: 100%;
}
.dashboard form.create-update .form-wrapper .form-error {
  color: #e71d43;
  font-size: 1.4rem;
  margin-top: 5px;
}
.dashboard form.create-update .form-wrapper label {
  display: inline-block;
  font-size: 1.6rem;
  margin: 10px 0;
}
.dashboard form.create-update .form-wrapper input.form-input {
  display: block;
  font-size: 1.6rem;
  width: 100%;
  padding: 10px 5px;
  border: 2px solid #e3e6f0;
  border-radius: 5px;
  outline: 0;
}
.dashboard form.create-update .form-wrapper input.form-input:focus {
  border-color: #bac8f3;
  box-shadow: 0 0 0 0.3rem rgba(78, 115, 223, 0.25);
  outline: 0;
}
.dashboard form.create-update .form-wrapper textarea#mytextarea {
  font-size: 1.6rem;
  width: 100%;
  padding: 10px 5px;
  border: 2px solid #e3e6f0;
  border-radius: 5px;
  outline: 0;
  height: 150px;
}
.dashboard form.create-update .form-wrapper textarea#mytextarea:focus {
  border-color: #bac8f3;
  box-shadow: 0 0 0 0.3rem rgba(78, 115, 223, 0.25);
  outline: 0;
}
.dashboard form.create-update .form-wrapper select {
  width: 100%;
  outline: none;
  display: block;
  font-size: 1.6rem;
  padding: 10px 4px;
  border: 2px solid #e3e6f0;
  border-radius: 5px;
  background: #fff;
}
.dashboard form.create-update .form-wrapper select:focus {
  border-color: #bac8f3;
  box-shadow: 0 0 0 0.3rem rgba(78, 115, 223, 0.25);
  outline: 0;
}
.dashboard form.create-update .form-wrapper input.form-image {
  display: block;
}
.dashboard form.create-update .form-wrapper .post-image {
  overflow: hidden;
  height: 150px;
  width: auto;
  position: relative;
  display: inline-block;
}
.dashboard form.create-update .form-wrapper .post-image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: auto;
  height: 150px;
  display: block;
}
.dashboard form.create-update .form-wrapper label.radio-container {
  display: block;
  position: relative;
  margin: 0 0 12px 0;
  cursor: pointer;
  font-size: 1.4rem;
  padding-left: 30px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dashboard form.create-update .form-wrapper label.radio-container input.form-radio {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}
.dashboard form.create-update .form-wrapper label.radio-container .radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: #e3e6f0;
}
.dashboard form.create-update .form-wrapper label.radio-container .radio-checkmark:after {
  position: absolute;
  display: none;
  content: "";
}
.dashboard form.create-update .form-wrapper label.radio-container input.form-radio:checked ~ span.radio-checkmark {
  background-color: #e71d43;
}
.dashboard form.create-update .form-wrapper label.radio-container input.form-radio:checked ~ span.radio-checkmark:after {
  display: block;
}
.dashboard form.create-update .form-wrapper label.radio-container span.radio-checkmark:after {
  top: 6px;
  left: 6px;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}
.dashboard form.create-update .form-wrapper .attach-role {
  margin-bottom: 10px;
}
.dashboard form.create-update .form-wrapper .checkbox-container {
  position: relative;
  margin: 4px 0;
  padding-left: 35px;
  font-size: 1.4rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.dashboard form.create-update .form-wrapper .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.dashboard form.create-update .form-wrapper .checkbox-container input:checked ~ .checkmark {
  background-color: #e71d43;
}
.dashboard form.create-update .form-wrapper .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.dashboard form.create-update .form-wrapper .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.8rem;
  width: 1.8rem;
  background-color: #cccccc;
}
.dashboard form.create-update .form-wrapper .checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.dashboard form.create-update .form-wrapper .checkbox-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

/* Jumbotron styles for all pages except index */
.title-jumbotron {
  width: 100%;
  min-height: 140px;
  background-color: #f5f8fa;
  height: 140px;
  overflow: hidden;
  position: relative;
  margin-top: 75px;
}
.title-jumbotron .parallax-text {
  position: absolute;
  top: 45px;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .title-jumbotron .parallax-text {
    top: 50px;
  }
}
@media screen and (max-width: 600px) {
  .title-jumbotron .parallax-text {
    top: 55px;
  }
}
@media screen and (max-width: 460px) {
  .title-jumbotron .parallax-text {
    top: 57px;
  }
}
.title-jumbotron .parallax-text h1 {
  font-weight: normal;
  font-size: 3.9rem;
  margin: 0 30px;
  padding: 0;
}
@media screen and (max-width: 800px) {
  .title-jumbotron .parallax-text h1 {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 600px) {
  .title-jumbotron .parallax-text h1 {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 460px) {
  .title-jumbotron .parallax-text h1 {
    font-size: 2rem;
  }
}

/* News section */
.news {
  width: 100%;
}
.news h1 {
  text-align: center;
  font-weight: normal;
  margin-top: 50px;
}
.news .news-wrapper {
  width: 90%;
  margin: 60px auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 60px 30px;
  justify-content: space-between;
}
@media screen and (max-width: 1250px) {
  .news .news-wrapper {
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 650px) {
  .news .news-wrapper {
    grid-template-columns: auto;
  }
}
.news .news-wrapper .item {
  width: 100%;
  border-radius: 0 0 5px 5px;
  border: 1px solid #f5f8fa;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.12);
}
.news .news-wrapper .item .image-holder {
  overflow: hidden;
  border-radius: 5px 5px 0 0;
  position: relative;
  display: block;
  background: #cccccc;
}
.news .news-wrapper .item .image-holder a img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.5s ease-in-out;
}
.news .news-wrapper .item .image-holder a .image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.news .news-wrapper .item .image-holder a:hover img {
  transform: scale(1.15);
}
.news .news-wrapper .item .image-holder a:hover .image-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  transition: background-color 0.5s ease-in-out;
}
.news .news-wrapper .item .image-holder a:not(:hover) .image-overlay {
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}
.news .news-wrapper .item .item-content {
  margin: 0 20px;
}
.news .news-wrapper .item .item-content a {
  color: #000;
}
.news .news-wrapper .item .item-content a h6 {
  margin: 10px 0 0 0;
}
.news .news-wrapper .item .item-content p {
  margin: 5px 0;
}
.news .news-wrapper .item .item-content p i {
  margin-right: 15px;
  color: #4e4e4e;
}
.news .news-wrapper .item .item-content p.item-blog-author {
  margin: 15px 0;
}
.news .news-wrapper .item .item-content p.item-blog-author i {
  margin: 0 10px 0 0;
}
.news .news-wrapper .item .item-content p.item-blog-author a {
  color: #000;
}
.news .news-wrapper .item .item-content p.item-blog-author a:hover {
  color: #e71d43;
  transition: all 0.3s ease-in-out;
}
.news .news-wrapper .item .item-content p.item-blog-author a:not(:hover) {
  color: #000;
  transition: all 0.3s ease-in-out;
}
.news .news-wrapper .item .item-content p.item-blog-text {
  color: #4e4e4e;
}
.news .news-wrapper .item .item-content p.item-blog-comment {
  margin-left: 35px;
}
.news .news-wrapper .item .item-content p.item-blog-date {
  margin-left: 35px;
}
.news .news-wrapper .item .item-content .blog-line {
  margin: 20px 20px 20px 0;
  background-color: #dedede;
  width: 100%;
  height: 2px;
}
.news .news-wrapper .item .item-content .item-blog-bottom a.button {
  border: 2px solid #e71d43;
  padding: 14px 22px 12px 22px;
  display: inline-block;
  margin: 0 0 20px 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  color: #000;
}
.news .news-wrapper .item .item-content .item-blog-bottom a.button:hover {
  background-color: #e71d43;
  color: #fff;
  border: 2px solid #e71d43;
  transition: all 0.3s ease-in-out;
}
.news .news-wrapper .item .item-content .item-blog-bottom a.button:not(:hover) {
  background-color: transparent;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.news .news-wrapper .item .item-content .item-blog-bottom p {
  float: right;
  padding: 14px 0;
}
.news .news-wrapper .item .item-content .item-blog-bottom p a {
  color: #0633ff;
  font-weight: 600;
}
.news .news-wrapper .item .item-content .item-blog-bottom p a:hover {
  color: #e71d43;
  transition: all 0.3s ease-in-out;
}
.news .news-wrapper .item .item-content .item-blog-bottom p a:not(:hover) {
  color: #0633ff;
  transition: all 0.3s ease-in-out;
}

/* Footer styles */
footer#dashboard-footer {
  min-height: initial;
  width: 100%;
  text-align: center;
  background-color: #000;
}
footer#dashboard-footer .dashboard-footer-wrapper {
  width: 90%;
  margin: auto;
}
footer#dashboard-footer .dashboard-footer-wrapper p {
  font-size: 1.6rem;
  color: #9c9c9c;
  padding: 15px 0;
}
footer#dashboard-footer .dashboard-footer-wrapper p a {
  color: #e71d43;
}
